.IssuePage {
	text-align: center;
	padding-top: 50px;
	//margin: 5px;
	background: white;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.12);
	
}
@media screen and (min-width: 1000px){
	.IssuePage-content {
		width: 1000px;
		margin: 0 auto;
	}
}

.IssuePage-intro {
	line-height: 1.6;
	text-align: left;
	margin: 10px;
	border-radius: 5px;
	//box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.12);
	padding-bottom: 50px;

}
.IssuePage-cover {
	max-width: 100%;
}
.IssuePage-introTitle {
	font-size: 30px;
	font-weight: 800;
	margin: 0 ;
	padding: 20px;
	text-align: center;
}
.IssuePage-introDescription {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}
.IssuePage-sectionTitle {
	font-size: 20px;
	font-weight: 800;
	margin: 20px;
	text-align: left;
}
.IssuePage-sectionDescription {
	background: rgb(220,220,220);
	text-align: left;
	margin: 10px;
	padding: 20px;
	line-height: 1.6;
}
.IssuePage-items {
	text-align: left;
	padding: 5px;

}
.IssuePage-item, .IssuePage-item:visited {
	display: inline-block;
	background: white;
	width: 100%;
	vertical-align: top;
	margin: 4px;
	min-height: 200px;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.12);
	padding: 20px;
	border: 2px solid white;
	position: relative;
	padding-bottom: 60px;
    border: 1px solid rgb(230,230,230);
	color: rgb(53,55,54);
	text-decoration: none;
}

.IssuePage-item:hover {
	border-color: rgb(153,155,154);
}
@media screen and (min-width: 600px){
    .IssuePage-item {
   	   display: inline-block;
   	   width: 45%;
   	   
    }
}
@media screen and (min-width: 1000px){
    .IssuePage-item {
   	   display: inline-block;
   	   width: 32%;
    }
}
.IssuePage-itemTitle {
	font-weight: 800;
	font-size: 20px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 1.4;
	height: 60px;
	overflow: hidden;
}
.IssuePage-itemDescription {
	color: rgb(100,100,100);
	text-align: left;
	line-height: 1.4;
	height: 90px;
	overflow: hidden;

}

.IssuePage-itemPosition {
	margin-top: 10px;
	padding-left: 10px;
    position: relative;
    border-left:4px solid #6FB4B1;
}
.IssuePage-itemPositionTopText {
	text-align: left;
    font-size: 12px;
    margin-bottom: 8px;
    border-radius: 2px;
    padding: 4px;
    
}
.IssuePage-itemPositionCount {
	font-size: 26px;
	font-weight: 800;
	margin-left: 4px;
	color: rgb(180,180,180);
	display: inline-block;
}
.IssuePage-itemPositionBottomText {
	color: rgb(100,100,100);
    text-align: left;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

/*
.IssuePage-opinion {
	display: inline-block;
	height: 5px;
}
.IssuePage-opinion.is-for {
	background: #3EA869;
}
.IssuePage-opinion.is-against {
	background: #C62F20;
}
.IssuePage-opinion.is-unclear {
	background: gray;
}
.IssuePage-opinion.is-none {
	background: rgb(220,220,220);
}*/
.IssuePage-actions {
	position: absolute;
	left: 0;
	bottom: 12px;
	width: 100%;
	padding-top: 10px;
	//border-top: 1px solid rgb(230,230,230);

}
.IssuePage-button {
	display: inline-block;
	color: rgb(220,220,220);
	width: 45%;
	margin: 5px;
	cursor: pointer;
	font-weight: 800;
	text-align: center;
	
}
.IssuePage-button:hover, .IssuePage-buttonMeta:hover, .IssuePage-button:hover .IssuePage-buttonMeta {
	color: #FFD041;
}
.IssuePage-buttonMeta {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	padding-top: 3px;
	margin-left: 4px;
	
}


