.Tabs {
	width: 100%;
	position: relative;
	padding-bottom: 10px;
}
.Tabs.is-scrolling {
	position: fixed;
	top: 0;
	z-index: 100;
	padding-bottom: 0;
}
.Tabs-background {
	width: 100%;
	background: #F5F5F5;
}
.Tabs-items {
	padding: 0 40px;

}
@media screen and (min-width: 600px){
	.Tabs-maxWidth {
		width: 600px;
		position: relative;
		margin: 0 auto;
	}
}
.Tabs.is-scrolling {
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.12);
}
.Tabs-item {
	padding: 15px 7px 15px 7px;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 16px;
	position: relative;
}
@media screen and(min-width: 600px){
	.Tabs-item {
		padding: 15px 14px 15px 14px;
	}
}
.Tabs-item.is-active {
	background: #9ac2c3;//#7A9E9F;
	color: white;
}
.Tabs-item.is-active:after {
	content: '';
	position: absolute;
	bottom: -9px;
	left: calc(50% - 10px );
	border-top: 10px solid #9ac2c3;//#7A9E9F;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	z-index: 10;
}
.Tabs-item:hover {
	//background: rgb(240,240,240);
	background: #9ac2c3;//#7A9E9F;
	color: white;
}

.Tabs-subitems {
	
	overflow-y: hidden;
	max-height:0px; /* approximate max height */

	transition-property: max-height;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.Tabs-subitems.is-show {
	
	max-height: 100px;

	transition-property: max-height;
	transition-duration: 100ms;
	transition-timing-function: ease-in;
}
.Tabs-subitem {
	padding: 15px 7px 8px 7px;
 	display: inline-block;
 	border-bottom: 4px solid #F2F6F6;
 	cursor: pointer;
}
.Tabs-subitem:hover {
	background: rgb(240,240,240);
	border-bottom: 4px solid rgb(240,240,240);
}
.Tabs-subitem.is-active {
	border-bottom: 4px solid #7A9E9F;
}
.Tabs-subitem.is-active:hover {
	background: rgb(240,240,240);
	border-bottom: 4px solid #7A9E9F;
}

/*.Tabs {
	width: 100%;
	//#6FB4B1;
	position: relative;
	
}
.Tabs.is-scrolling {
	position: fixed;
	top: 0;
	z-index: 100;
}
.Tabs-items {
	background: #F5F5F5;
	padding: 0 40px;
}
@media screen and (min-width: 600px){
	.Tabs-maxWidth {
		width: 600px;
		position: relative;
		margin: 0 auto;
	}
}
.Tabs.is-scrolling .Tabs-items{
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.12);
}
.Tabs-item, .Tabs-item:visited {
	padding: 15px 7px 11px 7px;
	display: inline-block;
	cursor: pointer;
	color: rgb(53,55,54);
	text-decoration: none;
	border-bottom: 4px solid #F5F5F5;
	position: relative;
}
@media screen and(min-width: 600px){
	.Tabs-item, .Tabs-item:visited {
		padding: 15px 14px 11px 14px;
	}
}
.Tabs-item.is-active {
	border-bottom: 4px solid;
}
.Tabs-item:hover {
	background: rgb(240,240,240);
	border-bottom: 4px solid rgb(240,240,240);
}
.Tabs-item.is-active:hover {
	border-bottom: 4px solid;
}
.Tabs-subTabs {
	background: rgba(255,255,255,1);
	box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.08);
	//background: rgb(53,55,54);
	top: 45px;
  	right: 0;
  	width: 150px;
	position: absolute;
	
	
	overflow-y: hidden;
	max-height:0px; /* approximate max height */

	transition-property: max-height;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
@media screen and (min-width: 400px){
	.Tabs-subTabs {
		left: 0;
		right: auto;
	}
}
.Tabs-subTabs.is-show {
	max-height: 400px;
	border: 1px solid rgb(153,155,154);
	transition-property: max-height;
	transition-duration: 100ms;
	transition-timing-function: ease-in;
	
}
.Tabs-subItem {
   padding: 10px;
   cursor: pointer;
}
.Tabs-subItem:hover {
	//color: #3F9F9B;
	background: rgb(53,55,54);
	color: white;
}
.Tabs-scrollRight {
	position: absolute;
	vertical-align: top;
	padding-top: 15px;
	top: 0;
	right: 0px;
	height: 100%;
	width: 30px;
	cursor: pointer;
}
.Tabs-scrollRight:hover {
	background: rgba(200,200,200,0.2);
}
*/