.Legislator-avatar {
	border-radius: 50%;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,0.12),-1px 1px 0 0 rgba(0,0,0,0.12);
    border: 3px solid white;
    width: 120px;
    height: 120px;
    background: white;
}
.Legislator-name {
	font-size: 20px;
	font-weight: 800;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding-top: 40px;
	margin-left: 10px;
	color: white;
}

.Legislator-link, .Legislator-link:visited {
    
    text-decoration: none;
    padding-bottom: 3px;
    color: white;
    border-bottom: 2px dotted #71b4b1;
}
.Legislator-link:hover {
    border-bottom: 2px solid #71b4b1;
}

