.CandidatesPage {
  min-height: 100vh;
  text-align: center;
  padding-bottom: 100px;
  background-color: #b8d8d8;
}
.CandidatesPage-compare {
  padding: 50px 0 20px 0; 
  color: #7a9e9f;
  position: relative;
}
@media screen and (min-width: 600px){
  .CandidatesPage-compare {
      padding: 50px 0;
  }
}
.CandidatesPage-menu {
  width: 100%;
  background: rgba(250,250,250,0.9); 
  margin-bottom: 20px;

}
.CandidatesPage-title {
  line-height: 1.4;
  text-align: left;
  padding: 20px;
  font-size: 26px;
  color: white;
  //text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  font-weight: 800;
}
@media screen and (min-width: 600px){
  .CandidatesPage-title {
      text-align: center;
  }
}
.CandidatesPage-outerWrapper {
  overflow-x: hidden;
  overflow-y: visible;  
  position: relative;
}

.CandidatesPage-innerWrapper {
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 600px){
  .CandidatesPage-outerWrapper {
      width: 315px;
      margin: 0 auto;
  }
  .CandidatesPage-innerWrapper {
      //overflow-x: hidden;
    
  
  }
}
.CandidatesPage-issueList {
  overflow-y: hidden;
  width: 1280px; /* item width * item count */
  -webkit-padding-start: 5px;
}
.CandidatesPage-recommendList {
  overflow-y: hidden;
  width: 640px; /* item width * item count */
  -webkit-padding-start: 5px;
}
.CandidatesPage-profileList {
  overflow-y: hidden;
  width: 960px; /* item width * item count */
  -webkit-padding-start: 5px;
}
.CandidatesPage-issueItem {
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.12);
  float: left;
  list-style: none;
  margin: 0 auto;
  width: 300px;
  //height: 450px;
  height: auto;
  background: white;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
}
.CandidatesPage-recommendItem {
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.12);
  float: left;
  list-style: none;
  margin: 0 auto;
  width: 300px;
  //height: 450px;
  height: auto;
  background: white;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
}
.CandidatesPage-cardWrap {
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.12);
  list-style: none;
  margin: 0 auto;
  width: 300px;
  height: auto;
  background: white;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
}
.CandidatesPage-candidatePicker {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #FFFCF5;
  box-shadow: 0px -2px 4px 0 rgba(0,0,0,0.12);
  text-align: center;
  padding: 10px 0;
  z-index: 10;
}
.CandidatesPage-candidateList {
  background: #87bdbd;
}
