.Record {
	display: inline-block;
	border: 1px solid rgb(220,220,220);
	width: calc(100% - 10px);
	vertical-align: top;
	margin: 4px;
	cursor: pointer;
	text-align: left;
	background: white;

	text-decoration: none;
	color: rgb(53,55,54);
	position: relative;
}
.Record-topRight {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	cursor: pointer;
}
.Record-title {
    padding: 14px 8px;
    font-weight: 800;
    font-size: 18px;
    margin-left: 10px;
    
}
.Record-meta {
	color: rgb(140,140,140);
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    vertical-align: top;
    padding-top: 18px;
    padding-left: 4px;
}
.Record-subject {
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
	margin-left: 3px;

}

.Record-tooltip {
	position: absolute;
	top: 36px;
	right: -4px;
	z-index: 10;
	width: 140px;
	border-radius: 2px;
	background: white;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.08), -1px -1px 2px 1px rgba(0,0,0,0.08);
	padding: 10px 0;
}

.Record-tooltip:before {
	content: '';
    position: absolute;
    bottom: 100%;
    right: 10px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 9px solid rgb(220,220,220);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;

}
.Record-tooltip:after {
	content: '';
    position: absolute;
    bottom: 100%;
    right: 11px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.Record-tooltipItem {
	padding: 8px 10px;
}
.Record-tooltipItem:hover{
    background: #6FB4B1;
    color: white;
}
.Record-quote {
	line-height: 1.6;
  	border-left: 10px solid #d3d3d3;
  	padding: 0px 20px;
}
.Reocrd-date {
	padding: 10px;
  	font-size: 14px;
  	color: gray;
  	margin: 0 20px;
  	vertical-align: top;
}


.Record-btns {
	display: flex;
}
.Record-btn {
	
	color: rgb(140,140,140);
    padding-top: 20px;
    text-align: center;
    
    cursor: pointer;
    display: inline-block;
    
    flex: 1;

    border: 1px solid transparent;
    position: relative;
}
.Record-btn.is-mostVote {
	color: #53BAB5;
}
.Record-btn:hover {
	background: #fafafa;
	
}
.Record-highlight {
	color: #6FB4B1;
	font-weight: 700;
	padding: 2px;
}
.Record-actions {
	
	padding-top: 18px;
	border-top: 1px dashed rgb(180,180,180);
	position: relative;
	margin-top: 30px;
}
.Record-actionTitle {

  margin-left: 0;
  display: inline-block;
  padding: 10px;
 
  position: absolute;
    top: -20px;
  left: 20px;
  background: white;
}
.Record-percentage {
	font-size: 20px;
	padding: 10px;
}



/*






.Record-opinion {
	//color: white;
	font-weight: 800;
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
	margin-left: 3px;
}

.Record-opinion.is-for {
	color: #3EA869;
}
.Record-opinion.is-against {
	color: #C62F20;
}
.Record-opinion.is-unclear {
	color: gray;
}

.Record-flexGrids {
    display: flex;
    padding: 6px;
    line-height: 1.6;
}
.Record-flexLeft {
	flex: 0 0 60px;
	color: gray;
	text-align: center;
}
.Record-flexMain {
    flex: 1;
}





.Record-summary {
	padding: 20px;
    background: #f3f3f3;
    color: rgb(80,82,82);

}


.Record-tag {
	padding: 10px;
    color: rgb(100,100,100);
    background: #f3f3f3;
}


*/




