.Record {
	display: inline-block;
	border: 1px solid rgb(220,220,220);
	width: 100%;
	vertical-align: top;
	margin: 4px;
	cursor: pointer;
	text-align: left;
	background: white;

	text-decoration: none;
	color: rgb(53,55,54);
}
.Record-title {
    padding: 8px 10px 4px 10px;
    font-weight: 800;
    font-size: 18px;
    
}
.Record-opinion {
	//color: white;
	font-weight: 800;
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
	margin-left: 3px;
}
.Record-opinion.is-for {
	color: #3EA869;
}
.Record-opinion.is-against {
	color: #C62F20;
}
.Record-opinion.is-unclear {
	background: gray;
}

.Record-voteNumbers {
    font-size: 14px;
    font-weight: 800;
    min-width: 24px;
    text-align: center;
	display: inline-block;
}
.Record-voteNumbers.is-for {
	background: #3EA869;
	color: white;
	border-radius: 50%;
	
}
.Record-voteNumbers.is-against {
	background: #C62F20;
	color: white;
	border-radius: 50%;
	
}
.Record-voteNumbers.is-unclear {
	background: gray;
	color: white;
	border-radius: 50%;
	
}
.Record-quote {
	font-family: Georgia;
    margin: 4px 5px;
    padding: 4px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.Record-quote:before {
	color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.Record-info {
	padding: 10px 20px;
	color: gray;
	font-size: 14px;
}
.Record-action {
	border-top: 1px dotted rgb(220,220,220);
}
.Record-actionItem {
	padding: 10px 20px;
	color: gray;
	font-size: 14px;
	display: inline-block;
	position: relative;
}
.Record-star, .Record-more {
	cursor: pointer;
	font-weight: 800;
	color: rgb(220,220,220);
}
.Record-star:hover {
    color: #ffcc33;
}
.Record-more, .Record-more:visited {
    color: rgb(220,220,220);
	text-decoration: none;
}
.Record-more:hover {
    color: #038543;
}
.Record-tooltip {
	position: absolute;
	top: 32px;
	left: 8px;
	z-index: 10;
	width: 140px;
	border-radius: 2px;
	background: white;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.08), -1px -1px 2px 1px rgba(0,0,0,0.08);
	padding: 10px 0;
}

.Record-tooltip:before {
	content: '';
    position: absolute;
    bottom: 100%;
    left: 20px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 9px solid rgb(220,220,220);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;

}
.Record-tooltip:after {
	content: '';
    position: absolute;
    bottom: 100%;
    left: 21px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.Record-tooltipItem {
	padding: 4px 10px;
}
.Record-tooltipItem:hover{
    background: #6FB4B1;
    color: white;
}