.Record {
	display: inline-block;
	border: 1px solid rgb(220,220,220);
	width: calc(100% - 10px);
	vertical-align: top;
	margin: 4px;
	cursor: pointer;
	text-align: left;
	background: white;

	text-decoration: none;
	color: rgb(53,55,54);
}
.Record-title {
    padding: 8px 10px 4px 10px;
    font-weight: 800;
    font-size: 18px;
    
}
.Record-opinion {
	//color: white;
	font-weight: 800;
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
	margin-left: 3px;
}
.Record-subject {
	display: inline-block;
	vertical-align: top;
	padding-top: 16px;
	margin-left: 3px;

}
.Record-opinion.is-for {
	color: #3EA869;
}
.Record-opinion.is-against {
	color: #C62F20;
}
.Record-opinion.is-unclear {
	background: gray;
}

.Record-flexGrids {
    display: flex;
    padding: 6px;
    line-height: 1.6;
    margin: 0 10px;
}
.Record-flexLeft {
	flex: 0 0 60px;
	color: gray;
	text-align: center;

}
.Record-flexMain {
    flex: 1;
}
.Record-quote {
	
}
.Record-quoteTag {
	
    display: inline-block;
    
    margin-right: 20px;

    padding: 3px 6px;
    
    border-left: 7px solid gold;
    position: relative;

}

.Reocrd-readFull {
	font-size: 16px;
	color: #6FB4B1;
}
.Record-info {
	padding: 10px 20px;
	color: gray;
	font-size: 14px;
}
.Reocrd-editBy {
	padding: 10px;
  	font-size: 14px;
  	color: gray;
  	margin: 0 10px;
  	vertical-align: top;
  	//border-top: 1px solid rgb(240,240,240);
  	background: rgba(240,240,240,0.7);
}
.Record-action {
	//border-top: 1px dotted rgb(220,220,220);
}
.Record-actionItem {
	padding: 14px 20px;
	color: gray;
	font-size: 14px;
	display: inline-block;
	position: relative;
}
.Record-star, .Record-more {
	cursor: pointer;
	font-weight: 800;
	color: rgb(220,220,220);
}
.Record-star:hover {
    color: #ffcc33;
}
.Record-more, .Record-more:visited {
    color: rgb(220,220,220);
	text-decoration: none;
}
.Record-more:hover {
    color: #038543;
}
.Record-tooltip {
	position: absolute;
	top: 32px;
	left: 8px;
	z-index: 10;
	width: 140px;
	border-radius: 2px;
	background: white;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.08), -1px -1px 2px 1px rgba(0,0,0,0.08);
	padding: 10px 0;
}

.Record-tooltip:before {
	content: '';
    position: absolute;
    bottom: 100%;
    left: 20px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 9px solid rgb(220,220,220);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;

}
.Record-tooltip:after {
	content: '';
    position: absolute;
    bottom: 100%;
    left: 21px;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid white;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;

}
.Record-tooltipItem {
	padding: 8px 10px;
}
.Record-tooltipItem:hover{
    background: #6FB4B1;
    color: white;
}