.AppBar {
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	font-weight: 800;
	z-index: 100;
	background: #6FB4B1;
	box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.12);
	
}
.AppBar-logo {
	display: inline-block;
	height: 20px;
}
.AppBar-logoItem {
	color: white;
	font-weight: 400;
	text-decoration: none;
	margin: 0 10px;
	padding: 10px;
	vertical-align: top;
	height: 40px;
	display: inline-block;
	
} 
.AppBar-item, .AppBar-item:visited {
	display: inline-block;
	color: white;
	font-weight: 400;
	text-decoration: none;
	margin: 0 10px;
	padding: 12px 10px;
	vertical-align: top;
	height: 40px;
}
.AppBar-logoItem:hover, .AppBar-item:hover {
	border-bottom: 5px solid #a8d2d0;
}