.RecordList {
	text-align: center;
	/*border-top: 1px solid rgb(220,220,220);*/
	margin: 4px auto;
	cursor: pointer;
	background: white;
	
	
}
@media screen and (min-width: 600px){
	.RecordList {
		max-width: 600px;
	}
}

.RecordList-title {
	font-size: 20px;
	font-weight: 800;
	
	padding: 20px;
	//background: rgb(250,250,250);
	line-height: 1.4;
	text-align: left;
	
	position: relative;
}
@media screen and (min-width: 600px){
	.RecordList-title  {
		text-align: center;
	}
}
.RecordList-toggle {
	position: absolute;
	right: 10px;
	top: 20px;
}

.RecordList-content {
	
}
.RecordList-opinion.is-for {
	color: #3EA869;	
}
.RecordList-opinion.is-against {
	color: #C62F20;	
}
.RecordList-opinion.is-unclear {
	color : #fdc14d
}
.RecordList-opinion.is-none {
	color : gray;
}

.RecordList-description {
	margin-bottom: 30px;
	line-height: 1.6;
	text-align: left;
	padding: 10px;
	border: 1px dotted rgb(200,200,200);
	border-radius: 6px;
}

.RecordList-year {
	text-align: left;
	border-left: 1px solid rgb(153,155,154);
    padding-top: 20px;
}
.RecordList-yearHeader {
	position: relative;

}
.RecordList-yearUnit {
	position: absolute;
	top: 8px;
	left: -4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #880013;

}
.RecordList-back,.RecordList-back:visited {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	color: rgb(53,55,54);
	text-decoration: none;
}
.RecordList-yearTitle {
	text-align: left;
	font-weight: 800;
	padding-left: 10px;
}

/* O 次表決結果 */
.RecordList-yearSum {
	padding: 10px;
	width: 100%;
	background: rgb(220,220,220);
	cursor: pointer;
}
.RecordList-yearSum:hover {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}


.RecordList-yearToggle {
	text-align: right;
	margin-top: 10px;
	font-size: 14px;
	text-decoration: underline;
}
@media screen and (min-width: 600px){
	.RecordList-yearToggle {
		float: right;
		padding: 0 20px;
		margin: 0;
		font-size: 16px;
		text-decoration: none;
    }

}

.RecordList-yearEntries {
	padding-top: 4px;
}

.RecordList-tab {
	display: inline-block;
	color: #3F9F9b;
    background: white;
    border: 1px solid #3F9F9b;
	padding: 4px 6px;
	cursor: pointer;
}
.RecordList-tab.is-active {
	color: white;
    background: #3F9F9b;
}




